link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    link(rel='stylesheet', href='../../stylesheets/login.css')
body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                         = info.message
                    h2 Recuperación de password
                    p Por favor, ingrese su email y le enviaremos las instrucciones de reseteo
                form#login(action='/forgotPassword' method='post')
                    .form-group
                        input#username.form-control(type='email' placeholder='Email adress' name='email')
                    button.btn.btn-primary(type='submit') Resetear